
@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/proximanova-bold-webfont-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ProximaNova Reg';
    src: url('../fonts/proximanova-reg-webfont-webfont.eot');
    src: url('../fonts/proximanova-reg-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg-webfont-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-reg-webfont-webfont.woff') format('woff'),
         url('../fonts/proximanova-reg-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Semibold';
    src: url('../fonts/proximanova-sbold-webfont-webfont.eot');
    src: url('../fonts/proximanova-sbold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-sbold-webfont-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-sbold-webfont-webfont.woff') format('woff'),
         url('../fonts/proximanova-sbold-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
