$proxima-bold: 'Underground Probold', sans-serif;
$proxima-reg: 'Underground Probold', sans-serif;
$proxima-semi: 'Underground Probold', sans-serif;

$roboto-cond: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;