.header {
  position:fixed;
  height: 105px;
  width: 100%;
  display: block;
  background-image: url('../images/header-bg.png');
  background-repeat: repeat-x;
  z-index:9;
  top: 0px;
  padding-top: 5px;
  
  .container {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);

    @include MQM(MD) {
      display: block;
    }
  }

  .logo {
    width: 80px;
    display: inline-block;

    a {
      display: block;

      &:hover, &:focus, &:active {
        border-bottom: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  nav {
    display: inline-block;
    vertical-align: middle;
  }

  .main-nav {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      padding-top: 15px;
      margin-right: 25px;

      &:first-child {
        margin-left: 25px;
      }
    }

    a {
      color: #fff;
      font-size: rem(14);
      font-family: $proxima-bold;
      text-decoration: none;
      text-transform: uppercase;

      &:active, &:focus, &:hover {
        border-bottom: 1px dashed;
      }

    }
  }

  .bravo-menu {
    position: relative;
    display: block;
    a {
      color: #FF3624;
    }

    &:after {
      content: "PDF";
      position: absolute;
      top: 25%;
      left: 110%;
      color: #fff;
      background-color: #A90000;
      font-size: rem(9);
      font-family: $roboto-cond;
      border-radius: 3px;
      font-weight: bold;
      padding: 2px 3px;

    }
  }

  &-l {
    height: 80px;

    @include MQM(MD) {
      display: none;
    }
  }

  &-r {
    text-align: right;
    margin-top: -3px;

    @include MQM(MD) {
      margin-right: 15px;
    }

    @media (min-width : 480px) and (max-width : 768px) {
        float: right;
    }

    .other {
      font-size: rem(13);
      font-family: $roboto;
      color: #fff;

      &:first-child {
        padding-bottom: 5px;
      }

      a {
        padding-left: 10px;
        margin-left: 20px;
        color: #fff;

        @include MQM(XS) {
          margin-left: 0;
        }

        &:active, &:focus, &:hover {
          border-bottom: none;
        }
      }
    }

    .tel {
      font-size: rem(20);
      font-family: $proxima-bold;
      color: #fff;
      line-height: 1.2;

      span {
        color: #666;
      }
    }
  }
}

.marked {
  position: relative;

  &:before {
    content:'';
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    width: 5px;
    background-color: #8A73FF;
    border-radius: 50%;
    @include transform(translateY(-50%));
  }
}

.menu {
  text-align: center;
  margin-top: 10px;
  
  @include MQ(MD) {
    display: none;
  }

  @media (min-width : 480px) and (max-width : 768px) {
      float: left;
      padding-left: 15px;
      margin-top: 0;
  }

  .mobile-nav {
    display: none;
  }

  &.open {
    text-align: left;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    background-color: #8A73FF;

    .trigger {
      border-radius: 0;
      padding-left: 80px;
      width: 100%;
      border-bottom: 1px solid #6E5CCC;
      font-family: $proxima-bold;
      letter-spacing: 3px;
    }

    .mobile-nav {
      display: block;


      a {
        color: #fff;
        font-size: rem(15);
        font-family: $proxima-bold;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        height: 45px;
        padding-left: 80px;
        padding-top: 15px;
        margin-top: 10px;
        letter-spacing: 3px;

        &:active, &:focus, &:hover {
          border-bottom: none;
          background-color: #6E5CCC;
        }

      }

      .bravo-menu {
        position: relative;
        display: block;
        a {
          color: #FF3624;
        }

        &:after {
          content: "PDF";
          position: absolute;
          top: 25%;
          left: 140px;
          color: #fff;
          background-color: #A90000;
          font-size: rem(9);
          font-family: $roboto-cond;
          border-radius: 3px;
          font-weight: bold;
          padding: 2px 3px;

        }
      }
    }
  }

  .trigger {
    background-color: #8A73FF;
    font-size: rem(15);
    font-family: $roboto;
    color: #fff;
    height: 45px;
    display: inline-block;
    border-radius: 5px;
    padding: 7px 10px;
    text-transform: uppercase;

  }

  img {
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
}